
{% load static %}
<section class="bg-100 text-center pt-4">
    <div class="container">
      <div class="text-center mb-6">
        <h3 class="fs-2 fs-md-3">Party leadership</h3>
        <hr class="short" data-zanim-xs='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}' data-zanim-trigger="scroll" />
      </div>
      <div class="row">
        <div class="col-sm-6 col-lg-4    ">
          <div class="card h-100"><img class="card-img-top" src="{% static 'assets/img/portrait-3.jpg' %}" alt="Kalonzo Musyoka" />
            <div class="card-body" data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="overflow-hidden">
                <h5 data-zanim-xs='{"delay":0}'>H.E Dr. Stephen Kalonzo Musyoka, SC, EGH</h5>
              </div>
              <div class="overflow-hidden">
                <h6 class="fw-normal text-500" data-zanim-xs='{"delay":0.1}'>Party Leader</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-4  mt-lg-0 ">
          <div class="card h-100"><img class="card-img-top" src="{% static 'assets/img/portrait-5.jpg' %}" alt="Andrew Sunkuli" />
            <div class="card-body" data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="overflow-hidden">
                <h5 data-zanim-xs='{"delay":0}'>Andrew Sunkuli</h5>
              </div>
              <div class="overflow-hidden">
                <h6 class="fw-normal text-500" data-zanim-xs='{"delay":0.1}'>National Chairman</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-4 mt-sm-0  ">
          <div class="card h-100"><img class="card-img-top" src="{% static 'assets/img/portrait-4.jpg' %}" alt="Shakila Abdalla" />
            <div class="card-body" data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="overflow-hidden">
                <h5 data-zanim-xs='{"delay":0}'>Sen. Shakila Abdalla</h5>
              </div>
              <div class="overflow-hidden">
                <h6 class="fw-normal text-500" data-zanim-xs='{"delay":0.1}'>Secretary General</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-4   ">
          <div class="card h-100"><img class="card-img-top" src="{% static 'assets/img/portrait-6.jpg' %}" alt="Anne Kanyi" />
            <div class="card-body" data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="overflow-hidden">
                <h5 data-zanim-xs='{"delay":0}'>Anne Kanyi</h5>
              </div>
              <div class="overflow-hidden">
                <h6 class="fw-normal text-500" data-zanim-xs='{"delay":0.1}'>Deputy Chairperson</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-4   ">
          <div class="card h-100"><img class="card-img-top" src="{% static 'assets/img/portrait-7.jpg' %}" alt="Mutula Kilonzo Jr" />
            <div class="card-body" data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="overflow-hidden">
                <h5 data-zanim-xs='{"delay":0}'>Gov. Mutula Kilonzo Jr.</h5>
              </div>
              <div class="overflow-hidden">
                <h6 class="fw-normal text-500" data-zanim-xs='{"delay":0.1}'>Deputy Chairman</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-4   ">
          <div class="card h-100"><img class="card-img-top" src="{% static 'assets/img/portrait-8.jpg' %}" alt="Victor Ogeto" />
            <div class="card-body" data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="overflow-hidden">
                <h5 data-zanim-xs='{"delay":0}'>Victor Swanya Ogeto</h5>
              </div>
              <div class="overflow-hidden">
                <h6 class="fw-normal text-500" data-zanim-xs='{"delay":0.1}'>Deputy Chairman</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-4   ">
          <div class="card h-100"><img class="card-img-top" src="{% static 'assets/img/portrait-9.jpg' %}" alt="Gideon Mulyungi" />
            <div class="card-body" data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="overflow-hidden">
                <h5 data-zanim-xs='{"delay":0}'>Hon. Gideon Mulyungi</h5>
              </div>
              <div class="overflow-hidden">
                <h6 class="fw-normal text-500" data-zanim-xs='{"delay":0.1}'>National Treasurer</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-4   ">
          <div class="card h-100"><img class="card-img-top" src="{% static 'assets/img/portrait-10.jpg' %}" alt="Robert Mbui" />
            <div class="card-body" data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="overflow-hidden">
                <h5 data-zanim-xs='{"delay":0}'>Hon. Robert Mbui</h5>
              </div>
              <div class="overflow-hidden">
                <h6 class="fw-normal text-500" data-zanim-xs='{"delay":0.1}'>National Organising Secretary</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- end of .container-->
  </section><!-- <section> close ============================-->


