{% extends 'base.html' %}
{% load static %}

{% block main %}
      <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-0">
        <div class="bg-holder" style="background-image:url({% static 'assets/img/hero.png' %}); background-repeat: no-repeat; background-size: cover"></div>
        <!--/.bg-holder-->
        <div class="container">
          <div class="row min-vh-100 py-8 align-items-center" data-inertia='{"weight":1.5}'>
            <div class="col-sm-8 col-lg-7">
              <div class="overflow-hidden">
                <h2 class="heroh1" data-zanim-xs='{"delay":0.5}'>One People, One Nation</h2>
              </div>
              <div class="overflow-hidden">
                <div data-zanim-xs='{"delay":0.7}'>
                    <a class="btn btn-warning mt-3" href="https://drive.google.com/file/d/1O7rZxltoDbpwuO0lBr5zYL3IkMhBG9EC/view?usp=drive_link" style="border: none">Elected Leaders
                          <span class="fas fa-chevron-right ms-2"></span>
                        </a>
                    <a class="btn btn-primary me-3 mt-3" href="https://drive.google.com/file/d/1XqlFJjGJ9kZ9wKN_t1c_RcSdV0JZBsEr/view?usp=drive_link" style="border: none">How to Register
                            <span class="fas fa-chevron-right ms-2"></span>
                         </a>
                   
                </div>
              </div>
            </div>
          </div>
        </div><!-- end of .container-->
      </section>



        <!-- <section> close ============================-->
      
      <!-- <section> begin ============================-->
      <section class="bg-white text-center">
        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-10 col-md-6">
              <h3 class="fs-2 fs-lg-3 bluecolor">Membership Categories</h3>
              <hr class="short" data-zanim-xs='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}' data-zanim-trigger="scroll" />
            </div>
          </div>
          <div class="row mt-4 mt-md-5">
            <div class="col-sm-6 col-lg-3 mt-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <h5 class="mt-4" data-zanim-xs='{"delay":0.1}'>Ordinary </h5>
              <p class="mb-0 mt-3 px-3" data-zanim-xs='{"delay":0.2}'>Open to all persons who wish to become party members</p>
            </div>
            <div class="col-sm-6 col-lg-3 mt-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <h5 class="mt-4" data-zanim-xs='{"delay":0.1}'>Premium  </h5>
              <p class="mb-0 mt-3 px-3" data-zanim-xs='{"delay":0.2}'>This category of membership is a requirement for any person seeking to be elected as an MCA</p>
            </div>
            <div class="col-sm-6 col-lg-3 mt-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <h5 class="mt-4" data-zanim-xs='{"delay":0.1}'>Platinum</h5>
              <p class="mb-0 mt-3 px-3" data-zanim-xs='{"delay":0.2}'>Open for any person seeking to be elected as a MNA, WREP, Senator, Governor or President</p>
            </div>
            <div class="col-sm-6 col-lg-3 mt-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <h5 class="mt-4" data-zanim-xs='{"delay":0.1}'>Group</h5>
              <p class="mb-0 mt-3 px-3" data-zanim-xs='{"delay":0.2}'> Open to organizations including trade
                unions, professional associations, co-operative societies & student unions.</p>
            </div>
          </div>
        </div><!-- end of .container-->
      </section><!-- <section> close ============================-->
      <!-- ============================================-->

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="bg-100 pt-6 pb-6">
        <div class="container">
          <div class="text-center">
            <h3 class="fs-2 fs-md-3 bluecolor">Our Leader</h3>
            <hr class="short" data-zanim-xs='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}' data-zanim-trigger="scroll" />
          </div>
          <div class="row g-0 position-relative mb-0 mb-lg-0">
            <div class="col-lg-6 py-0 py-lg-0 mb-0 position-relative" style="min-height:400px;">
              <div class="bg-holder rounded-ts-lg rounded-te-lg rounded-lg-te-0  " style="background-image:url({% static 'assets/img/skm.jpg' %});"></div>
              <!--/.bg-holder-->
            </div>
            <div class="col-lg-6 px-lg-5 py-lg-6 pb-2 my-lg-0 bg-white rounded-bs-lg rounded-lg-bs-0 rounded-be-lg rounded-lg-be-0 rounded-lg-te-lg ">
              <div class="elixir-caret d-none d-lg-block"></div>
              <div class="d-flex align-items-center h-100">
                <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
                  <div class="overflow-hidden">
                    <h5 data-zanim-xs='{"delay":0}'>H.E Dr. Stephen Kalonzo Musyoka, SC, EGH</h5>
                  </div>
                    <div class="overflow-hidden">
                    <div data-zanim-xs='{"delay":0.2}'><b>PARTY LEADER</b></div>
                  </div>
                  <div class="overflow-hidden">
                    <p class="mt-2" data-zanim-xs='{"delay":0.1}'>10th Vice-President of Kenya from 2008 to 2013.
                      Kalonzo Musyoka has served in the government of the late President Daniel Arap
                      Moi as the Secretary of Kenya African National Union party (1980-1988), Assistant
                      Minister for Works (1986-1988), Deputy Speaker of the National Assembly (1988-1992), 
                      Minister for Foreign Affairs from 1993 until 1998, Minister of Education (1998-2001); 
                      and subsequently, under the late President Mwai Kibaki, he was Minister of Foreign Affairs 
                      again from 2003 to 2004, then Minister of the Environment from 2004 to 2005.</p>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!-- <section> close ============================-->
      <!-- ============================================-->



      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="mt-0 pt-6 pb-6">
        <div class="container">
          <div class="text-center mb-4">
            <h3 class="fs-2 fs-md-3">What We Stand For</h3>
            <hr class="short" data-zanim-xs='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}' data-zanim-trigger="scroll" />
          </div>
          <div class="row">
            <div class="col-lg-6 pe-lg-3"><img class="rounded-3 img-fluid" src="{% static 'assets/img/why-choose-us.jpg' %}" alt="about" /></div>
            <div class="col-lg-6 px-lg-5 mt-6 mt-lg-0" data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="overflow-hidden">
                <div class="px-4 px-sm-0" data-zanim-xs='{"delay":0}'>
                  <h5 class="fs-0 fs-lg-1"><span class="fas fa-comment-dots fs-1 me-2" data-fa-transform="flip-h"></span>Vision</h5>
                  <p class="mt-3">To promote integrity, inclusivity, and social justice as the core national values towards a prosperous Kenya.</p>
                </div>
              </div>
              <div class="overflow-hidden">
                <div class="px-4 px-sm-0 mt-5" data-zanim-xs='{"delay":0}'>
                  <h5 class="fs-0 fs-lg-1"><span class="fas fa-palette fs-1 me-2" data-fa-transform="shrink-1"></span>Ideology</h5>
                    <p class="mt-3">The Party is founded on principles of social democracy and upholds ideals that foster equitable distribution of the Nation’s Resources and opportunities amongst all citizens. </p>
                </div>
              </div>
              <div class="overflow-hidden">
                <div class="px-4 px-sm-0 mt-5" data-zanim-xs='{"delay":0}'>
                  <h5 class="fs-0 fs-lg-1"><span class="fas fa-stopwatch fs-1 me-2" data-fa-transform="grow-1"></span>Mission</h5>
                  <p class="mt-3">To provide access to transparent, accountable and people  centred leadership  for  the  benefit  of  present  and  future  generations  of Kenya. </p>
                </div>
              </div>
            </div>
          </div>
        </div><!-- end of .container-->
      </section><!-- <section> close ============================-->
      <!-- ============================================-->



      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-6 text-center text-md-start" style="background-color: #0000a1">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md">
              <h3 class="text-white mb-0">One People, One Nation</h3>
            </div>
            <div class="col-md-auto mt-md-0 mt-4"><a class="btn btn-warning rounded-pill" href="{% url 'index' %}">Join the Movement</a></div>
          </div>
        </div><!-- end of .container-->
      </section><!-- <section> close ============================-->
      <!-- ============================================-->



      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="text-center">
        <div class="container">
          <div class="text-center">
            <h3 class="fs-2 fs-md-3">Guiding Principles</h3>
            <hr class="short" data-zanim-xs='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}' data-zanim-trigger="scroll" />
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-4 mt-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="px-3 py-4 px-lg-4">
                <div class="overflow-hidden">
                  <h5 class="mt-1" data-zanim-xs='{"delay":0.1}'>24 Hour Economy</h5>
                </div>
                <div class="overflow-hidden">
                  <p class="mb-0" data-zanim-xs='{"delay":0.2}'>Introduce  and  support  a  twenty-four  (24)  hour  economy  for
                      greater social and economic growth for a sustainable Kenya. </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="px-3 py-4 px-lg-4">
                <div class="overflow-hidden">
                  <h5 class="mt-1" data-zanim-xs='{"delay":0.1}'>Open membership</h5>
                </div>
                <div class="overflow-hidden">
                  <p class="mb-0" data-zanim-xs='{"delay":0.2}'>Democratic and open membership to Kenyans, offering quality
                        leadership with integrity and good governance in the spirit of the Kenyan Constitution.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="px-3 py-4 px-lg-4">
                <div class="overflow-hidden">
                  <h5 class="mt-1" data-zanim-xs='{"delay":0.1}'>Non- discrimination</h5>
                </div>
                <div class="overflow-hidden">
                  <p class="mb-0" data-zanim-xs='{"delay":0.2}'>Protection of the rights of minorities and
                            marginalized groups through representation and participation at
                            all levels of Governance in the Party and the Country.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="px-3 py-4 px-lg-4">
                <div class="overflow-hidden">
                  <h5 class="mt-1" data-zanim-xs='{"delay":0.1}'>Cooperation</h5>
                </div>
                <div class="overflow-hidden">
                  <p class="mb-0" data-zanim-xs='{"delay":0.2}'>Cooperate with religious based organizations to enhance spiritual
                      needs of all Kenyans.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="px-3 py-4 px-lg-4">
                <div class="overflow-hidden">
                  <h5 class="mt-1" data-zanim-xs='{"delay":0.1}'> Elections</h5>
                </div>
                <div class="overflow-hidden">
                  <p class="mb-0" data-zanim-xs='{"delay":0.2}'>Promote  and  protect  democracy  through  regular,  free  and  fair
                        elections within the Party and in the Country.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="px-3 py-4 px-lg-4">
                <div class="overflow-hidden">
                  <h5 class="mt-1" data-zanim-xs='{"delay":0.1}'>Freedom of Speech</h5>
                </div>
                <div class="overflow-hidden">
                  <p class="mb-0" data-zanim-xs='{"delay":0.2}'>Promote  fundamental  freedoms  of  Kenyans  key  among  these
                        being freedoms of speech and association.</p>
                </div>
              </div>
            </div>
          </div>
        </div><!-- end of .container-->
      </section><!--
      <section> close ============================-->
      <!-- ============================================-->



      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="bg-100 text-center pt-4">
        <div class="container">
          <div class="text-center mb-6">
            <h3 class="fs-2 fs-md-3">Party leadership</h3>
            <hr class="short" data-zanim-xs='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}' data-zanim-trigger="scroll" />
          </div>
          <div class="row">
            <div class="col-sm-6 col-lg-4    ">
              <div class="card h-100"><img class="card-img-top" src="{% static 'assets/img/portrait-3.jpg' %}" alt="Kalonzo Musyoka" />
                <div class="card-body" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                  <div class="overflow-hidden">
                    <h5 data-zanim-xs='{"delay":0}'>H.E Dr. Stephen Kalonzo Musyoka, SC, EGH</h5>
                  </div>
                  <div class="overflow-hidden">
                    <h6 class="fw-normal text-500" data-zanim-xs='{"delay":0.1}'>Party Leader</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 mt-4  mt-lg-0 ">
              <div class="card h-100"><img class="card-img-top" src="{% static 'assets/img/portrait-5.jpg' %}" alt="Andrew Sunkuli" />
                <div class="card-body" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                  <div class="overflow-hidden">
                    <h5 data-zanim-xs='{"delay":0}'>Andrew Sunkuli</h5>
                  </div>
                  <div class="overflow-hidden">
                    <h6 class="fw-normal text-500" data-zanim-xs='{"delay":0.1}'>National Chairman</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 mt-4 mt-sm-0  ">
              <div class="card h-100"><img class="card-img-top" src="{% static 'assets/img/portrait-4.jpg' %}" alt="Shakila Abdalla" />
                <div class="card-body" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                  <div class="overflow-hidden">
                    <h5 data-zanim-xs='{"delay":0}'>Sen. Shakila Abdalla</h5>
                  </div>
                  <div class="overflow-hidden">
                    <h6 class="fw-normal text-500" data-zanim-xs='{"delay":0.1}'>Secretary General</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 mt-4   ">
              <div class="card h-100"><img class="card-img-top" src="{% static 'assets/img/portrait-6.jpg' %}" alt="Anne Kanyi" />
                <div class="card-body" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                  <div class="overflow-hidden">
                    <h5 data-zanim-xs='{"delay":0}'>Anne Kanyi</h5>
                  </div>
                  <div class="overflow-hidden">
                    <h6 class="fw-normal text-500" data-zanim-xs='{"delay":0.1}'>Deputy Chairperson</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 mt-4   ">
              <div class="card h-100"><img class="card-img-top" src="{% static 'assets/img/portrait-7.jpg' %}" alt="Mutula Kilonzo Jr" />
                <div class="card-body" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                  <div class="overflow-hidden">
                    <h5 data-zanim-xs='{"delay":0}'>Gov. Mutula Kilonzo Jr.</h5>
                  </div>
                  <div class="overflow-hidden">
                    <h6 class="fw-normal text-500" data-zanim-xs='{"delay":0.1}'>Deputy Chairman</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 mt-4   ">
              <div class="card h-100"><img class="card-img-top" src="{% static 'assets/img/portrait-8.jpg' %}" alt="Victor Ogeto" />
                <div class="card-body" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                  <div class="overflow-hidden">
                    <h5 data-zanim-xs='{"delay":0}'>Victor Swanya Ogeto</h5>
                  </div>
                  <div class="overflow-hidden">
                    <h6 class="fw-normal text-500" data-zanim-xs='{"delay":0.1}'>Deputy Chairman</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 mt-4   ">
              <div class="card h-100"><img class="card-img-top" src="{% static 'assets/img/portrait-9.jpg' %}" alt="Gideon Mulyungi" />
                <div class="card-body" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                  <div class="overflow-hidden">
                    <h5 data-zanim-xs='{"delay":0}'>Hon. Gideon Mulyungi</h5>
                  </div>
                  <div class="overflow-hidden">
                    <h6 class="fw-normal text-500" data-zanim-xs='{"delay":0.1}'>National Treasurer</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 mt-4   ">
              <div class="card h-100"><img class="card-img-top" src="{% static 'assets/img/portrait-10.jpg' %}" alt="Robert Mbui" />
                <div class="card-body" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                  <div class="overflow-hidden">
                    <h5 data-zanim-xs='{"delay":0}'>Hon. Robert Mbui</h5>
                  </div>
                  <div class="overflow-hidden">
                    <h6 class="fw-normal text-500" data-zanim-xs='{"delay":0.1}'>National Organising Secretary</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- end of .container-->
      </section><!-- <section> close ============================-->
      <!-- ============================================-->


      

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="bg-100">
        <div class="container">
          <div class="text-center mb-6">
            <h3 class="fs-2 fs-md-3">Latest News</h3>
            <hr class="short" data-zanim-xs='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}' data-zanim-trigger="scroll" />
          </div>
          <div class="row g-4">
            <div class="col-md-6 col-lg-4">
              <div class="card"><a href="{% url 'index' %}"><img class="card-img-top" src="{% static 'assets/img/9.jpg' %}" alt="Featured Image" /></a>
                <div class="card-body" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                  <div class="overflow-hidden"><a href="{% url 'index' %}">
                      <h5 data-zanim-xs='{"delay":0}'>NEC removes Hon. Farah Maalim from his role as the Deputy Party Leader</h5>
                    </a></div>
                  <div class="overflow-hidden">
                    <p class="text-500" data-zanim-xs='{"delay":0.1}'>By Paloma</p>
                  </div>
                  <div class="overflow-hidden">
                    <p class="mt-0" data-zanim-xs='{"delay":0.2}'>During the NEC/PG meeting of January 22, members made a resolution that Hon. Farah ceases being the Deputy Party Leader effective immediately...</p>
                  </div>
                  <div class="overflow-hidden">
                    <div class="d-inline-block" data-zanim-xs='{"delay":0.3}'><a class="d-flex align-items-center" href="{% url 'index' %}">Read More<div class="overflow-hidden ms-2" data-zanim-xs='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0.8}'><span class="d-inline-block fw-medium">&xrarr;</span></div></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="card"><a href="{% url 'index' %}"><img class="card-img-top" src="{% static 'assets/img/10.jpg' %}" alt="Featured Image" /></a>
                <div class="card-body" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                  <div class="overflow-hidden"><a href="{% url 'index' %}">
                      <h5 data-zanim-xs='{"delay":0}'>Party Leader winds up his Coast region tour</h5>
                    </a></div>
                  <div class="overflow-hidden">
                    <p class="text-500" data-zanim-xs='{"delay":0.1}'>By Admin</p>
                  </div>
                  <div class="overflow-hidden">
                    <p class="mt-0" data-zanim-xs='{"delay":0.2}'>Kalonzo Musyoka shut down Kongowea Market as thousands turned up to hear his message on the second day of his Coastal tour...</p>
                  </div>
                  <div class="overflow-hidden">
                    <div class="d-inline-block" data-zanim-xs='{"delay":0.3}'><a class="d-flex align-items-center" href="{% url 'index' %}">Read More<div class="overflow-hidden ms-2" data-zanim-xs='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0.8}'><span class="d-inline-block fw-medium">&xrarr;</span></div></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="card"><a href="{% url 'index' %}"><img class="card-img-top" src="{% static 'assets/img/11.jpg' %}" alt="Featured Image" /></a>
                <div class="card-body" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                  <div class="overflow-hidden"><a href="{% url 'index' %}">
                      <h5 data-zanim-xs='{"delay":0}'>Mombasa County Leadership Changes</h5>
                    </a></div>
                  <div class="overflow-hidden">
                    <p class="text-500" data-zanim-xs='{"delay":0.1}'>By Admin</p>
                  </div>
                  <div class="overflow-hidden">
                    <p class="mt-0" data-zanim-xs='{"delay":0.2}'>The Secretary General has made changes to the Mombasa County Party Leadership ...</p>
                  </div>
                  <div class="overflow-hidden">
                    <div class="d-inline-block" data-zanim-xs='{"delay":0.3}'><a class="d-flex align-items-center" href="{% url 'index' %}">Read More<div class="overflow-hidden ms-2" data-zanim-xs='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0.8}'><span class="d-inline-block fw-medium">&xrarr;</span></div></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- end of .container-->
      </section><!-- <section> close ============================-->


        <div class="bg-200 py-6">
          <div class="container">
            <div class="row align-items-center" data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="col-4 col-md-2 my-3 overflow-hidden"><img class="img-fluid" src="{% static 'assets/img/partner/logo2.png' %}" alt="partnerco" data-zanim-xs="{}" /></div>
              <div class="col-4 col-md-2 my-3 overflow-hidden"><img class="img-fluid" src="{% static 'assets/img/partner/logo3.png' %}" alt="tvc" data-zanim-xs="{}" /></div>
              <div class="col-4 col-md-2 my-3 overflow-hidden"><img class="img-fluid" src="{% static 'assets/img/partner/logo4.png' %}" alt="arcade" data-zanim-xs="{}" /></div>
              <div class="col-4 col-md-2 my-3 overflow-hidden"><img class="img-fluid" src="{% static 'assets/img/partner/logo5.png' %}" alt="bearbrand" data-zanim-xs="{}" /></div>
              <div class="col-4 col-md-2 my-3 overflow-hidden"><img class="img-fluid" src="{% static 'assets/img/partner/logo6.png' %}" alt="fast brothers" data-zanim-xs="{}" /></div>
              <div class="col-4 col-md-2 my-3 overflow-hidden"><img class="img-fluid" src="{% static 'assets/img/partner/logo1.png' %}" alt="harculis beards" data-zanim-xs="{}" /></div>
            </div>
          </div>
        </div>

     

    </main><!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

{% endblock %}